### Eclipse ###

.metadata
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
*.log
*.properties
*/.settings/
.loadpath
.recommenders
*.class
.*
*.launch
*/build/
*/doc/
WebContent/WEB-INF/lib/
*/target/
target/
.vscode*
# Code Recommenders
.recommenders/

# Annotation Processing
.apt_generated/

### Eclipse Patch ###
# Eclipse Core
*/.project

# JDT-specific (Eclipse Java Development Tools)
*/.classpath
