<?xml version="1.0" encoding="UTF-8" ?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
  xmlns="http://www.springframework.org/schema/beans" xsi:schemaLocation="
            http://www.springframework.org/schema/beans
            http://www.springframework.org/schema/beans/spring-beans.xsd">

  <!-- Services -->
  <bean id="ComputerService" class="service.ComputerService">
    <property name="computerDAO" ref="ComputerDAO" />
  </bean>
  <bean id="CompanyService" class="service.CompanyService">
    <property name="companyDAO" ref="CompanyDAO" />
  </bean>

  <!-- Controllers -->
  <bean id="ComputerController" class="controller.ComputerController">
    <property name="companyService" ref="CompanyService" />
    <property name="computerService" ref="ComputerService" />
  </bean>
  <bean id="CompanyController" class="controller.CompanyController">
    <property name="companyService" ref="CompanyService" />
  </bean>
  <bean id="MenuController" class="controller.MenuController">
    <property name="computerController" ref="ComputerController" />
    <property name="companyController" ref="CompanyController" />
  </bean>

  <!-- DAOs -->
  <bean id="ComputerDAO" class="persistence.ComputerDAO">
    <property name="hikariDataSource" ref="hikariDataSource" />
  </bean>
  <bean id="CompanyDAO" class="persistence.CompanyDAO">
    <property name="hikariDataSource" ref="hikariDataSource" />
  </bean>

  <!-- Hikari -->
  <bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
    <property name="locations">
      <list>
        <value>properties/hikari.properties</value>
      </list>
    </property>
  </bean>

  <bean id="hikariConfig" class="com.zaxxer.hikari.HikariConfig">
    <property name="driverClassName" value="${dataSourceClassName}" />
    <property name="jdbcUrl" value="${jdbcUrl}" />
    <property name="dataSourceProperties">
      <props>
        <prop key="user">${dataSource.user}</prop>
        <prop key="password">${dataSource.password}</prop>
        <prop key="cachePrepStmts">${dataSource.cachePrepStmts}</prop>
        <prop key="databaseName">${dataSource.databaseName}</prop>
        <prop key="portNumber">${dataSource.portNumber}</prop>
        <prop key="serverName">${dataSource.serverName}</prop>
      </props>
    </property>
  </bean>

  <bean id="hikariDataSource" class="com.zaxxer.hikari.HikariDataSource" destroy-method="close">
    <constructor-arg ref="hikariConfig" />
  </bean>

  <!-- Entry Point -->
  <bean id="Main" class="Main">
    <property name="menuController" ref="MenuController" />
  </bean>

</beans>