<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
    </encoder>
  </appender>

  <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <encoder>
      <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
    </encoder>
    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
      <fileNamePattern>cdb%d{yyyy-MM}.log</fileNamePattern>
      <maxHistory>6</maxHistory>
    </rollingPolicy>
  </appender>

  <appender name="DEBUG-FILE" class="ch.qos.logback.core.FileAppender">
    <file>cdb-debug.log</file>
    <encoder>
      <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
    </encoder>
  </appender>

  <logger name="org.springframework.web" level="DEBUG">
    <appender-ref ref="CONSOLE" />
    <appender-ref ref="FILE" />
  </logger>

  <logger name="org.hibernate" level="DEBUG">
    <appender-ref ref="CONSOLE" />
    <appender-ref ref="FILE" />
  </logger>

  <logger name="org.springframework.jdbc.core.JdbcTemplate" level="DEBUG">
    <appender-ref ref="CONSOLE" />
    <appender-ref ref="FILE" />
  </logger>

  <logger name="service">
    <appender-ref ref="CONSOLE" />
    <appender-ref ref="FILE" />
  </logger>

  <logger name="debug">
    <appender-ref ref="DEBUG-FILE" />
  </logger>

  <logger name="exception">
    <appender-ref ref="CONSOLE" />
    <appender-ref ref="FILE" />
  </logger>

  <logger name="model">
    <appender-ref ref="CONSOLE" />
    <appender-ref ref="FILE" />
  </logger>

  <logger name="persistence">
    <appender-ref ref="CONSOLE" />
    <appender-ref ref="FILE" />
  </logger>

  <logger name="servlet">
    <appender-ref ref="CONSOLE" />
    <appender-ref ref="FILE" />
  </logger>

  <logger name="ui">
    <appender-ref ref="CONSOLE" />
    <appender-ref ref="FILE" />
  </logger>

  <logger name="controller" level="DEBUG">
    <appender-ref ref="CONSOLE" />
    <appender-ref ref="FILE" />
  </logger>

  <root level="ERROR">
    <appender-ref ref="FILE" />
  </root>
</configuration>