<?xml version="1.0" encoding="UTF-8" ?>
<beans xmlns="http://www.springframework.org/schema/beans" 
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
  xmlns:mvc="http://www.springframework.org/schema/mvc" 
  xmlns:context="http://www.springframework.org/schema/context" xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/mvc
        http://www.springframework.org/schema/mvc/spring-mvc.xsd">

  <mvc:annotation-driven />
  <context:component-scan base-package="controller" />

  <!-- Services -->
  <bean id="ComputerService" class="service.ComputerService">
    <property name="computerDAO" ref="ComputerDAO" />
  </bean>
  <bean id="CompanyService" class="service.CompanyService">
    <property name="companyDAO" ref="CompanyDAO" />
    <property name="computerService" ref="ComputerService" />
  </bean>

  <!-- Controllers -->
  <bean id="ComputerController" class="controller.ComputerCLIController">
    <property name="companyService" ref="CompanyService" />
    <property name="computerService" ref="ComputerService" />
  </bean>
  <bean id="CompanyController" class="controller.CompanyCLIController">
    <property name="companyService" ref="CompanyService" />
  </bean>
  <bean id="MenuController" class="controller.MenuController">
    <property name="computerController" ref="ComputerController" />
    <property name="companyController" ref="CompanyController" />
  </bean>

  <!-- Mappers -->

  <bean id="ComputerMapper" class="mapping.ComputerMapper" />
  <bean id="CompanyMapper" class="mapping.CompanyMapper" />

  <!-- DAOs -->
  <bean id="ComputerDAO" class="persistence.ComputerDAO">
    <property name="jdbcTemplate" ref="JDBCTemplate" />
    <property name="computerMapper" ref="ComputerMapper" />
  </bean>
  <bean id="CompanyDAO" class="persistence.CompanyDAO">
    <property name="jdbcTemplate" ref="JDBCTemplate" />
    <property name="companyMapper" ref="CompanyMapper" />
  </bean>

  <!-- Hikari -->
  <bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
    <property name="locations">
      <list>
        <value>classpath:/properties/hikari.properties</value>
      </list>
    </property>
  </bean>

  <bean id="hikariConfig" class="com.zaxxer.hikari.HikariConfig">
    <property name="dataSourceClassName" value="${driverClassName}" />
    <property name="dataSourceProperties">
      <props>
        <prop key="user">${dataSource.user}</prop>
        <prop key="password">${dataSource.password}</prop>
        <prop key="databaseName">${dataSource.databaseName}</prop>
        <prop key="portNumber">${dataSource.portNumber}</prop>
        <prop key="serverName">${dataSource.serverName}</prop>
      </props>
    </property>
  </bean>

  <bean id="hikariDataSource" class="com.zaxxer.hikari.HikariDataSource" destroy-method="close">
    <constructor-arg ref="hikariConfig" />
  </bean>

  <bean id="JDBCTemplate" class="org.springframework.jdbc.core.namedparam.NamedParameterJdbcTemplate">
    <constructor-arg ref="hikariDataSource" />
  </bean>

  <!-- Entry Point -->
  <bean id="Main" class="Main">
    <property name="menuController" ref="MenuController" />
  </bean>

  <bean id="internalResourceViewResolver" class="org.springframework.web.servlet.view.InternalResourceViewResolver">
    <property name="viewClass" value="org.springframework.web.servlet.view.JstlView" />
    <property name="prefix" value="/Views/" />
    <property name="suffix" value=".jsp" />
  </bean>
  
</beans>