<?xml version="1.0" encoding="UTF-8" ?>
<beans xmlns="http://www.springframework.org/schema/beans" 
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
  xmlns:mvc="http://www.springframework.org/schema/mvc" 
  xmlns:context="http://www.springframework.org/schema/context" xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/mvc
        http://www.springframework.org/schema/mvc/spring-mvc.xsd">

  <mvc:annotation-driven />
  <context:component-scan base-package="controller" />

  <!-- Services -->
  <bean id="ComputerService" class="service.ComputerService">
    <property name="computerDAO" ref="ComputerDAO" />
  </bean>
  <bean id="CompanyService" class="service.CompanyService">
    <property name="companyDAO" ref="CompanyDAO" />
    <property name="computerService" ref="ComputerService" />
  </bean>

  <!-- Controllers -->
  <bean id="ComputerController" class="controller.ComputerCLIController">
    <property name="companyService" ref="CompanyService" />
    <property name="computerService" ref="ComputerService" />
  </bean>
  <bean id="CompanyController" class="controller.CompanyCLIController">
    <property name="companyService" ref="CompanyService" />
  </bean>
  <bean id="MenuController" class="controller.MenuController">
    <property name="computerController" ref="ComputerController" />
    <property name="companyController" ref="CompanyController" />
  </bean>

  <!-- Mappers -->

  <bean id="ComputerMapper" class="mapping.ComputerMapper" />
  <bean id="CompanyMapper" class="mapping.CompanyMapper" />

  <!-- DAOs -->
  <bean id="ComputerDAO" class="persistence.ComputerDAO">
    <property name="jdbcTemplate" ref="JDBCTemplate" />
    <property name="computerMapper" ref="ComputerMapper" />
    <property name="sessionFactory" ref="sessionFactory" />
  </bean>

  <bean id="CompanyDAO" class="persistence.CompanyDAO">
    <property name="jdbcTemplate" ref="JDBCTemplate" />
    <property name="companyMapper" ref="CompanyMapper" />
  </bean>

  <!-- Validation -->
  <bean id="ComputerValidator" class="validation.ComputerValidator" />

  <!-- Hikari -->
  <bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
    <property name="locations">
      <list>
        <value>classpath:/properties/hikari.properties</value>
      </list>
    </property>
  </bean>

  <bean id="dataSource" class="org.apache.tomcat.dbcp.dbcp2.BasicDataSource">
    <property name="driverClassName" value="${dataSource.driverClassName}" />
    <property name="url" value="${dataSource.url}" />
    <property name="username" value="${dataSource.user}" />
    <property name="password" value="${dataSource.password}" />
  </bean>

  <bean id="JDBCTemplate" class="org.springframework.jdbc.core.namedparam.NamedParameterJdbcTemplate">
    <constructor-arg ref="dataSource" />
  </bean>

  <bean id="transactionManager" class="org.springframework.orm.hibernate5.HibernateTransactionManager">
    <property name="sessionFactory" ref="sessionFactory" />
  </bean>
  <!-- Hibernate -->

  <bean id="sessionFactory" class="org.springframework.orm.hibernate5.LocalSessionFactoryBean">
    <property name="dataSource" ref="dataSource" />
    <property name="packagesToScan" value="model" />
    <property name="hibernateProperties">
      <props>
        <prop key="hibernate.hbm2ddl.auto">${hibernate.hbm2ddl.auto}</prop>
        <prop key="hibernate.dialect">${hibernate.dialect}</prop>
        <prop key="show_sql">true</prop>
        <prop key="format_sql">true</prop>
      </props>
    </property>
    <property name="mappingResources">
      <list>
        <value>mapping/Company.hbm.xml</value>
        <value>mapping/Computer.hbm.xml</value>
        <value>mapping/Entity.hbm.xml</value>
      </list>
    </property>
  </bean>

  <bean id="persistenceExceptionTranslationPostProcessor" class="org.springframework.dao.annotation.PersistenceExceptionTranslationPostProcessor" />

  <!-- Entry Point -->
  <bean id="Main" class="Main">
    <property name="menuController" ref="MenuController" />
    <property name="sessionFactory" ref="sessionFactory" />
  </bean>

  <bean id="internalResourceViewResolver" class="org.springframework.web.servlet.view.InternalResourceViewResolver">
    <property name="viewClass" value="org.springframework.web.servlet.view.JstlView" />
    <property name="prefix" value="/Views/" />
    <property name="suffix" value=".jsp" />
  </bean>

  <!-- <mvc:interceptors>
    <bean class="org.springframework.web.servlet.i18n.LocaleChangeInterceptor">
      <property name="paramName" value="lang" />
    </bean>
  </mvc:interceptors> -->

  <bean id="messageSource" class="org.springframework.context.support.ReloadableResourceBundleMessageSource">
    <property name="basename" value="classpath:languages/language" />
    <property name="defaultEncoding" value="UTF-8" />
  </bean>

  <bean id="localeResolver" class="org.springframework.web.servlet.i18n.SessionLocaleResolver">
    <property name="defaultLocale" value="fr" />
  </bean>

  <!-- <mvc:resources mapping="/resources/**" location="/resources/" /> -->


</beans>